<%- include("../partials/header.ejs") -%>

    <div id="service-card">
        <div id="card" class="card mb-3" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img id="imagen" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" id="card-titulo"></h5>
                        <p id="description" class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>


        async function loadServicios() {
            const queryString = window.location.search;
            console.log('/api/servicios/<%= servicio.id %>');
            document.querySelector("#card-titulo").innerHTML = "<%= servicio.nombre %>";
            document.querySelector("#description").innerHTML = "<%= servicio.descripcion %>";
            document.querySelector("#imagen").src = "<%= servicio.img %>";

        }
        loadServicios();

    </script>

    <%- include("../partials/footer.ejs") -%>